@import url("https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

$primary-color: #f2f7fb;
$key-corner: #e9f2fb;
$shadow-color: #d9e3ec;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: $primary-color;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;

  &__content {
    width: 60%;
  }
}

.textbox {
  width: 100%;
  resize: none;
  background: linear-gradient(145deg, $primary-color, $key-corner);
  box-shadow: inset 8px 8px 15px $shadow-color;
  border-radius: 12px;
  border: none;
  overflow: auto;
  padding: 20px;
  outline: none;
  margin: 50px 0;
}

.info {
  padding: 25px;
  background: linear-gradient(145deg, $primary-color, $key-corner);
  box-shadow: 8px 8px 15px $shadow-color;
  border-radius: 12px;
  min-width: 750px;
  max-width: 1000px;
  text-align: center;
  color: #00a8ff;
}

.keyboard {
  padding: 25px;
  background: linear-gradient(145deg, $primary-color, $key-corner);
  box-shadow: 8px 8px 15px $shadow-color;
  border-radius: 12px;
  min-width: 750px;
  max-width: 1000px;

  &__keys {
    display: flex;
    justify-content: center;
  }
}

.key {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  min-width: 50px;
  height: 50px;
  border-radius: 15px;
  background: linear-gradient(145deg, $primary-color, $key-corner);
  box-shadow: 5px 5px 15px $shadow-color;

  &__letter {
    background: -webkit-linear-gradient(245deg, #1e71f5, #3cdee7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__down {
    color: linear-gradient(45deg, #1e71f5, #3cdee7);
    background: linear-gradient(145deg, $key-corner, $primary-color);
    box-shadow: inset 5px 5px 5px $shadow-color;
  }

  &__space {
    width: 60%;
  }
}

//select

h1 {
  margin: 0 0 0.25em;
}
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: 5px 5px 5px $shadow-color;
  border: 0 !important;
  background: linear-gradient(145deg, $primary-color, $key-corner);
  background-image: none;
  border-radius: 12px;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 30em;
  height: 3em;
  line-height: 3;
  background: linear-gradient(145deg, $primary-color, $key-corner);
  border-radius: 0.25em;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #00a8ff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: linear-gradient(145deg, $primary-color, $key-corner);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  border-radius: 12px;
}
/* Transition */
.select:hover::after {
  color: #74b9ff;
}
