@import url("https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #e8e8e8;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__content {
  width: 850px;
}

.textbox {
  width: 100%;
  resize: none;
  background: linear-gradient(145deg, #f4f4f4, #f4f4f2);
  border-radius: 12px;
  border: none;
  overflow: auto;
  padding: 20px;
  outline: none;
  margin: 50px 0;
  font-size: 18px;
  font-weight: bold;
  color: #3d3d3d;
  max-width: 950px;
  -webkit-box-shadow: 5px 5px 15px #bbbfca;
          box-shadow: 5px 5px 15px #bbbfca;
}

.info {
  padding: 25px;
  background: linear-gradient(145deg, #f4f4f2, #e8e8e8);
  -webkit-box-shadow: 5px 5px 5px #bbbfca;
          box-shadow: 5px 5px 5px #bbbfca;
  border-radius: 12px;
  min-width: 750px;
  text-align: center;
  color: #495464;
  font-weight: bold;
}

.keyboard {
  padding: 25px;
  background: linear-gradient(145deg, #f4f4f2, #e8e8e8);
  -webkit-box-shadow: 8px 8px 15px #bbbfca;
          box-shadow: 8px 8px 15px #bbbfca;
  border-radius: 12px;
  text-align: center;
  min-width: 750px;
  max-width: 1000px;
}

.keyboard__keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
  min-width: 50px;
  height: 50px;
  border-radius: 15px;
  background: linear-gradient(145deg, #f4f4f2, #e8e8e8);
  -webkit-box-shadow: 5px 5px 15px #bbbfca;
          box-shadow: 5px 5px 15px #bbbfca;
}

.key__letter {
  background: -webkit-linear-gradient(245deg, #4c5664, #495464);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.key__down {
  color: linear-gradient(45deg, #4c5664, #495464);
  background: linear-gradient(145deg, #f4f4f2, #e8e8e8);
  -webkit-box-shadow: inset 5px 5px 5px #bbbfca;
          box-shadow: inset 5px 5px 5px #bbbfca;
}

.key__space {
  width: 60%;
}

.select_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

h1 {
  margin: 0 0 0.25em;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  border: 0 !important;
  background: linear-gradient(145deg, #e8e8e8, #f4f4f2);
  background-image: none;
  border-radius: 12px;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12em;
  height: 3em;
  line-height: 3;
  background: linear-gradient(145deg, #e8e8e8, #f4f4f2);
  border-radius: 0.25em;
  margin-right: 20px;
  -webkit-box-shadow: 5px 5px 15px #bbbfca;
          box-shadow: 5px 5px 15px #bbbfca;
}

select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.5em;
  color: #495464;
  cursor: pointer;
  font-weight: bold;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: linear-gradient(145deg, #e8e8e8, #f4f4f2);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Transition */
.select:hover::after {
  color: #bbbfca;
}
/*# sourceMappingURL=Keyboard_rayout.css.map */